* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: #161513;
    color: white;
    font-family: Outfit;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
    cursor: pointer;
}

.nav-menu a {
    color: #fff;
}

.nav-connect {
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.06%);
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
}

.nav-connect:hover {
    transform: scale(1.05);
}

/* .services-containers{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 80px;
} */

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}

.services-title {
    position: relative;
}

.services-title h1 {
    padding: 0px 30px;
    font-size: 50px;
    font-weight: 600;
}

.services-title img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.services-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    padding: 30px;
    border-radius: 5px;
    border: 2px solid white;
    transition: 0.4s;
    cursor: pointer;
    margin-bottom: 80px;

}
.services-container h3{
    font-size: 24px;
    font-weight: 600;
}
.services-container h2{
    font-size: 34px;
    font-weight: 800;
    background: linear-gradient(270deg, #DA7C25 50%, #B923E1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.services-container p{
    color: #d4d4d4;
    font-size: 20px;
    line-height: 40px;
    max-width: 300px;
}
.readmore{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 2px;
}
.services-container:hover{
    border: 2px solid #ff00ff;
    background-image: linear-gradient(45deg, #3f0028,#582300);
    transform: scale(1.05);
    transition: 0.4s;
}